.app {
  background-color: #09251c;
  height: 100vh;
  display: grid;
  place-items: center;
}

.appBody {
  background-image: linear-gradient(to right, #51ca73, #1c9a70);
  display: flex;
  height: 90vh;
  margin-top: -50px;
  /* view height//width */
  width: 90vw;
  box-shadow: -1px 4px 20px -6px #51ca73;
}

.Sidebar {
  width: 40%;
}

.Chat {
  width: 60%;
}
